 <div class="resultados">        
                <h1>
                  Aukin Co
                </h1>
                <div id="img20" >
                </div>
                   Auquinco es una voz mapuche que significa agua que resuena. <br>
 
                <h1> 
                      Nuestro equipo   
                </h1>
                <div id="img21" >
                </div>
            Forma de brindar confianza en tu ecommerce. Pero experiencia no quiere decir
            simplemente mencionar la cantidad de años que llevas en el negocio. Mucho más 
            interesante es que relates aquellos hitos, eventos y acontecimientos que implicaron 
            un punto de inflexión en la historia de tu marca. Por ejemplo, puedes incluir eventos 
            como el lanzamiento de la marca, creación de nuevos productos o servicios, el haber 
            alcanzado un determinado número de ventas o clientes, conferencias en las cuales 
            participaste u organizaste, inversiones recibidas, alianzas estratégicas, expansiones 
            regionales y más.
                    
        </div>   
    
    
   