         <section class="intro">		

                <input type="text" id="minumero" >
                <input type="button" 
                       value="Calcular"
                       onclick="ASINCRONO.contarPrim();">
                
                 <h1> Ingrese hasta que número entero quiere analizar</h1>
        </section>

        <article class="resultados" id="panel_salida">
         <h2>  π ( x ) <br> 
                 Función que cuenta los números primos 
         </h2>

            <br>
            En matemática, la función contador de números primos es una función
            que cuenta la cantidad de números primos menores o iguales a cierto número 
            real x. 
            <br>
            Se denota mediante π ( x ) <br> 
            (no debe confundirse con el número π) y analíticamente se define como:

           <br>
            
        </article>

