            <section class="intro">
           
                <input type="text" id="minumero" >
                <input type="button" 
                       value="Calcular"
                       onclick="ASINCRONO.calcularDiv();">  
                <h1> Ingrese el número entero a analizar</h1>     
            </section>
            

            <article class="resultados" id="panel_salida">
                <h2>
                    Te mostrare los Divisores del número que solicitaste
                </h2>
               
            </article>

 

