             <section  class="intro">		
 
                <input type="text" id="minumero" >
                <input type="button" 
                       value="Calcular"
                       onclick="ASINCRONO.buscarGem();">
                <h1> Ingrese hasta que número entero quiere analizar</h1>            
            </section>
            
            <article class="resultados" id="panel_salida">
                <h2>
                     Dos números primos se denominan gemelos si uno de ellos es 
                  igual al otro más dos unidades

                </h2>
                    Primos gemelos encontrados hasta 
                    el número que solicitaste
                
            </article>

