            <section class="intro">	
    
                <input type="text" id="minumero" >
                <input type="button" 
                       value="Calcular"
                       onclick="ASINCRONO.conjeturaSirac();">
               <h1> Ingrese el valor de n</h1>
            </section>


    <article class="resultados" id="panel_salida">
    
 
         <h2>   Conjetura de Collatz </h2> 
         <h3> Conocida también como conjetura 3n+1  <br> 
             o Conjetura de Siracusa </h3>
         <br>

            Formalmente, esto equivale a una función f : N ↦ N
            <br>
            En la cual:
            Si n es par, se divide entre 2.
            <br>
            Si n es impar, se multiplica por 3 y se suma 1.

           <br>
           
           La conjetura dice que siempre alcanzaremos el 1 (y por tanto el ciclo 4, 2, 1)
           para cualquier número con el que comencemos. 

    </article>



            
 